.heade
{
position: absolute;
left: 500px;
}
ul li{
    list-style: none;
    float: left;
    margin: 18px;
    color: rgb(10, 97, 174);
    font-size: 20px;
}
.heade ul li:hover
{
    background-color: aquamarine;
    color: brown;
}