*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
   
    position: relative;
    border-right: none;
}
.ltry{
 display: flex;
}
.navbar::before
{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
#slogo
{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 40px;
    padding-top: 10px;
    transition: all 5s ease-in-out;
}
.logo
{
    height: 40px;
    margin: 15px;
    border-radius: 34px;
}
.navbar li 
{
    color: aliceblue;
  list-style: none;
    margin: 15px;
    position: relative;
    /* padding: 5px; */
}
.navbar li a
{
    padding: 7px;
    color: aliceblue;
    text-decoration: none;


   
}
.navbar ul
{
    display: flex;
    padding-top: 12px;
    border-left: none;
    margin: -2px;
    position: absolute;
    right: 870px;
    }


.navbar li a:hover
{
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 12px;
}
.texthai
{
    color: white;
    justify-content: center;
    text-align: center;
padding-top: 100px;
margin: 20px;
}
.welcome
{
margin: 27px;
border: 3px white solid;
background-color: black;
display: inline ;
padding: 10px;
}
.sec::before
{
    content: "";
    position: absolute;
    background: url('wimg5.jpg') no-repeat center  center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
}
#midlead
{
margin: 60px;

}
.sec button:hover
{
background: rgb(8, 8, 8);
}
.sec button a:hover{
    color: rgb(236, 237, 238);

}
.sec button
{
    text-decoration: none;
background: rgb(177, 212, 64);
color: aliceblue;
padding: 3px;
color: black;
border: 2px black solid;
}
.sec button a{
    text-decoration: none;
    color: rgb(20, 15, 15);
}
.ad2
{
    padding-top: 410px;
  margin: 20px;
  text-align: center;
  font-size: 26px;
}
.uimg
{
    height: 200px;
    width: 200px;
    align-items: center;
    margin: 25px;
}
.uboder
{
    border: 3px black solid;
    border-radius: 20px;
    text-align: center;
margin: 15px;
width: 350px;
}
.legend
{
    display: flex;

}
#hehe:hover{
    background: black;
    color: white;
    border: 6px lightsalmon solid;
}
#hehe1:hover{
    background: black;
    color: white;
    border: 6px lightsalmon solid;
}
#hehe2:hover{
    background: black;
    color: white;
    border: 6px lightsalmon solid;
}
#hehe3:hover{
    background: black;
    color: white;
    border: 6px lightsalmon solid;
}
.ourclint
{
    text-align: center;
    margin: 40px;
}
#me
{
    height: 200px;
}
.iclint
{
    align-items: center;
    justify-content: center;

}
.dbaa
{
    display: flex;
    justify-content: center;
    margin: 30px;
}
#h1
{
    margin: 20px;
}
#h2
{
    margin: 20px;
}
#h3
{
    margin: 20px;
}
#h4
{
    margin: 20px;
}
.dbaa::before
{
    content: "";
    background: url(wimg1.jpg)no-repeat center center/cover;
    position: absolute;
    height: 150%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
.lform h1
{
text-align: center;
}
.lform
{
    position: relative;
    top: 125px;
    border: 4px black solid;
    text-align: center;
}
.letf{
padding-top: 70px;
}
.oho
{
    margin: 10px;
}
.moon 
{
    padding: 15px;
}
.moon button:hover
{
    background: blue;
    color: aliceblue;
}
.foot
{
    z-index: 7;
    size: 30px;
}
